#paginate > span {
  display: flex;
  justify-content: center;
  
}

#sort_by_status {
 text-decoration: none;
 color: black;
}

#sort_by_priority {
  text-decoration: none;
  color: black;
 }

 #sort_by_start {
  text-decoration: none;
  color: black;
 }

 #sort_by_end {
  text-decoration: none;
  color: black;
 }

.search_field {
  // background-color: rgb(248, 250, 219);
  color: rgb(211, 1, 1);
}

.select{
  width: 200px;
  color: rgb(180, 174, 174);
}

.role_select{
  width: 200px;
  color: rgb(180, 174, 174);
  color: aqua;
}

.tag {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #0058cc;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid #0583eb;
  padding: 0 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}