<% if current_user%>
  <div class="mx-4 text-sm mr-auto hover:text-white">
  <%= link_to "我的票卷", root_path(current_user.id) %> 
  </div>
  <% else %>
  <div class="mx-4 text-sm mr-auto hover:text-white">
  <%= link_to('我的票卷', root_path(:user) ) %>
  </div>
<% end %>